body {
  margin: 0;
  background-color: rgb(199, 196, 196) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wic {
  height: 500px;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 2px;
}

.wic-md {
  height: 250px;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 2px;
}
